/* ///////////////////// BACTOP ///////////////////////// */
/* ///////////////////// BACTOP ///////////////////////// */
/* ///////////////////// BACTOP ///////////////////////// */
/* ///////////////////// BACTOP ///////////////////////// */
/* ///////////////////// BACTOP ///////////////////////// */
#backtop {
  text-decoration: none;
  font-size: 24px;
  font-weight: 900;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.2);
  color: #333;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: -50px;
  cursor: pointer;
  z-index: 99;
  transition: 0.6s;
}
/* ////////////////// RESPONSIVE NAVBAR ////////////////////// */
/* ////////////////// RESPONSIVE NAVBAR ////////////////////// */
/* ////////////////// RESPONSIVE NAVBAR ////////////////////// */
/* ////////////////// RESPONSIVE NAVBAR ////////////////////// */
/* ////////////////// RESPONSIVE NAVBAR ////////////////////// */
#navbar-responsive.open {
  left: 0;
}

.menu-btn {
  border: 0;
  background: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 4px;
  display: none;
}

.menu-btn span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #333;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  #navbar-responsive {
    position: fixed;
    top: 120px;
    bottom: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    transition: 0.5s;
  }

  .menu-btn {
    display: flex;
  }
}
/* ////////////////// NAVBAR SHRINK ///////////////////////// */
/* ////////////////// NAVBAR SHRINK ///////////////////////// */
/* ////////////////// NAVBAR SHRINK ///////////////////////// */
/* ////////////////// NAVBAR SHRINK ///////////////////////// */
/* ////////////////// NAVBAR SHRINK ///////////////////////// */
header {
  padding: 30px 0;
}

.navbar-shrink {
  padding: 20px 0;
}
/* ////////////////// LIGHT DARK ////////////////////////// */
/* ////////////////// LIGHT DARK ////////////////////////// */
/* ////////////////// LIGHT DARK ////////////////////////// */
/* ////////////////// LIGHT DARK ////////////////////////// */
/* ////////////////// LIGHT DARK ////////////////////////// */
.dark {
  background: black;
}

.dark * {
  color: white !important;
}
/* //////////////////// LOADING ///////////////////////////// */
/* //////////////////// LOADING ///////////////////////////// */
/* //////////////////// LOADING ///////////////////////////// */
/* //////////////////// LOADING ///////////////////////////// */
/* //////////////////// LOADING ///////////////////////////// */
#loading {
	position: fixed;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
	z-index: 100;
	transition: 0.5s;
}

.loading-spinner {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid #ccc;
  border-top: 10px solid rgb(129, 195, 223);
  animation: loading 0.8s ease infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-none {
  opacity: 0;
  z-index: -1;
}