* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1150px;
  padding: 0 20px;
  max-width: 1150px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  border: none;
}
